*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body {
    background-color: #FFF;
}


.main-app .container {
    display:flex;
    justify-content: center;
}
.main-app .container .form,
.main-app .container .form_main{
    /* margin-top:12%; */
    margin-top:15px;
}
.form,
.form_main {
    width:450px;
    padding:20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.form_main h3,
.form h3 {
    margin-bottom:10px;
    color:rgb(194, 71, 71);
}
.form_main label,
.form label {
    color:#000;
}
.form_main input,
.form input:focus {
    outline:none;
}
.form_main input,
.form input {
    width:100%;
    height:25px;
    align-items: center;
    border:none;
    border-bottom:1px solid rgb(106, 77, 23);
}
.form .input-control .success,
.form_main .input-control .success {
    border-bottom:1px solid green;
}
.form .input-control .error,
.form_main .input-control .error {
   color:red;
   font-size:14px;
}
.form_main select,
.form select {
    width:100%;
    height:25px;
    border:1px solid rgb(106, 77, 23);
}
.form_main select,
.form select:focus {
    outline:none;
    border:1px solid rgb(106, 77, 23);
}
.form #butcontrol,
.form_main #butcontrol {
    /* display:flex; */
    align-items: center;
    text-align: center;
}
.form_main .submit,
.form .submit{
    align-items: center;
    justify-content: center;
    border:none;
    background-color: black;
    padding:5px;
    width:150px;
    border-radius:50px;
    color:#fff;
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
}
.logout {
    font-size:20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
  }

  tr:nth-child(even) {
  background-color: #dddddd;
  }

  .main-app #dashboardpage {
    margin-top:40px;
  }